$spacing: (
    1: var(--sp-1),
    2: var(--sp-2),
    3: var(--sp-3),
    4: var(--sp-4),
);

@each $level, $value in $spacing {
    .mt-#{$level} {
        margin-top: #{$value};
    }
}

@each $level, $value in $spacing {
    .mb-#{$level} {
        margin-bottom: #{$value};
    }
}

@each $level, $value in $spacing {
    .ms-#{$level} {
        margin-left: #{$value};
    }
}

@each $level, $value in $spacing {
    .me-#{$level} {
        margin-right: #{$value};
    }
}

@each $level, $value in $spacing {
    .mx-#{$level} {
        margin-left: #{$value};
        margin-right: #{$value};
    }
}

@each $level, $value in $spacing {
    .my-#{$level} {
        margin-top: #{$value};
        margin-bottom: #{$value};
    }
}

@each $level, $value in $spacing {
    .m-#{$level} {
        margin: $value;
    }
}

// PADDING

@each $level, $value in $spacing {
    .pt-#{$level} {
        padding-top: #{$value};
    }
}

@each $level, $value in $spacing {
    .pb-#{$level} {
        padding-bottom: #{$value};
    }
}

@each $level, $value in $spacing {
    .ps-#{$level} {
        padding-left: #{$value};
    }
}

@each $level, $value in $spacing {
    .pe-#{$level} {
        padding-right: #{$value};
    }
}

@each $level, $value in $spacing {
    .px-#{$level} {
        padding-left: #{$value};
        padding-right: #{$value};
    }
}

@each $level, $value in $spacing {
    .py-#{$level} {
        padding-top: #{$value};
        padding-bottom: #{$value};
    }
}

@each $level, $value in $spacing {
    .p-#{$level} {
        padding: $value;
    }
}
