$color-primary: rgb(0, 102, 255);

$color-primary-2: #c2d7fa;
// $color-primary-3: rgb(0, 102, 255);

//

$input-border-color: #ced4da;
$input-border-radius: 0.35rem;
$input-padding: 0.375rem 0.75rem;
$input-font-size: 14px;
