@use './index' as *;
@use './margin';
@use './root';

// FLEX

$display: (
    flex: flex,
    grid: grid,
    block: block,
);

@each $key, $value in $display {
    .d-#{$key} {
        display: $value;
    }
}

.miq-container {
    max-width: map-get($map: $breakpoints, $key: md);
    margin: 0 auto;

    &-fluid {
        margin: 0;
        max-width: 100%;
    }
}

.bg-primary {
    color: white;
    background-color: var(--primary-400);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);

    &:hover {
        background-color: var(--primary-500);
    }
}
