.miq-search-input {
  position: relative;

  .icon-wrapper {
    position: absolute;
    color: var(--gray-600);
    padding: var(--sp-1);

    svg {
      width: var(--icon-size, 16px);
      height: var(--icon-size, 16px);
    }
  }

  input {
    border: 1px solid var(--gray-100);
    background-color: var(--gray-100, white);
    padding-left: 36px;

    &:focus {
      background-color: white;
    }
  }
}
