$md1: #f2f5f9;
$md2: #031b4e;

.section-md {
    img {
        // display: block;
        width: 100%;
        height: auto;
    }

    pre,
    code {
        color: $md2;
        background-color: $md1;
        // color: #031b4e;
        // background-color: #f0f3fa;
    }
    pre {
        border-radius: 4px;
        padding: 12px;
    }

    pre code {
        display: block;
        font-size: 95%;
        background-color: transparent;
        white-space: pre-wrap;
        word-wrap: break-word;
    }
}
