@use '@miq/styles/src/variables' as *;
@use '@miq/styles/src/mixins' as *;

.imgs-gallery-horizontal {
  overflow: auto;

  .imgs-gallery-horizontal-inner {
    // width: auto;
    display: flex;
    align-items: center;

    @include md-screen {
      &.md-vertical {
        flex-direction: column;

        .gallery-item {
          margin-right: 0;
          margin-bottom: 6px;
        }
      }
    }
  }

  .gallery-item {
    display: inline-block;
    margin-right: 6px;

    img {
      object-fit: contain;
      max-width: none;
      display: block;
      height: auto;
      max-height: 100vh;
      width: auto;
    }
  }
}
