$min-height: 44px;

@mixin input {
    min-height: $min-height;
    width: 100%;
    height: 100%;
    padding: 2px;
    font-size: 1rem;
    font-family: inherit;
}

.textareax {
    min-height: $min-height;
    position: relative;

    &-input {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        textarea {
            @include input;

            position: relative;

            display: block;
            // border: 0;
            overflow: hidden;
            // overflow: auto;
            resize: none;

            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;

            // border: 1px solid transparent;
        }
    }

    &-mirror {
        @include input;

        white-space: pre-wrap;
        word-wrap: break-word;
        visibility: hidden;
        border: 1px solid transparent;

        min-width: 200px;
    }
}
