$min-height: 44px;

@mixin input {
    display: block;
    min-height: $min-height;
    // width: 100%; watch out for this as it causes overflow
    height: 100%;
    padding: var(--sp-input-y) var(--sp-input-x);
    font-size: var(--fs-input);
    font-weight: 400;
    // font-family: inherit;
}

.textareax {
    min-height: $min-height;
    position: relative;

    &.clear-focus {
        textarea {
            &:focus {
                box-shadow: none;
                border: 1px solid transparent;
                outline: none;
            }
        }
    }

    &-input {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        textarea {
            @include input;

            width: 100%;
            position: relative;

            overflow: hidden;
            resize: none;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            border: 1px solid var(--border-color);
            border-radius: var(--border-radius-input);

            // overflow: auto;
        }
    }

    &-mirror {
        @include input;

        white-space: pre-wrap;
        word-wrap: break-word;
        visibility: hidden;
        border: 1px solid transparent;

        min-width: 200px;
    }
}
