@use "@miq/utils/src/style/variables" as vars;

.miq-input {
    display: block;
    width: 100%;
    padding: vars.$input-padding;
    font-size: vars.$input-font-size;
    font-weight: 400;
    border: 1px solid vars.$input-border-color;
    line-height: 1.5;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: vars.$input-border-radius;
    box-sizing: border-box;
}
