.miq-input {
    display: block;
    width: 100%;
    padding: var(--sp-input-y) var(--sp-input-x);
    font-size: var(--fs-input);
    font-weight: 400;
    border: 1px solid var(--border-color);
    line-height: 1.5;
    appearance: none;
    border-radius: var(--border-radius-input);
    box-sizing: border-box;
}
