.btn {
    background-color: transparent;
    border-color: transparent;
    cursor: pointer;

    &.label-first {
        flex-direction: row-reverse;
        .label {
            margin-right: 6px;
            margin-left: 0;
        }
    }

    &-icon {
        display: flex;
        align-items: center;
        text-decoration: none;

        // justify-content: center;
    }

    .icon {
        width: 1.5rem;
        height: 1.5rem;
    }

    .label {
        margin-left: 6px;
    }
}
