.btn {
    background-color: transparent;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    text-decoration: none;
    cursor: pointer;
    padding: 0.25rem 0.5rem;

    &:hover {
        background-color: var(--gray-100);
    }

    &:disabled {
        cursor: not-allowed;
        background-color: var(--gray-100);
    }
}

.btn-icon,
.btn-icon-label {
    display: flex;
    align-items: center;

    .icon {
        width: var(--icon-size);
        height: var(--icon-size);
    }

    .label {
        margin-left: var(--sp-0);
    }
}

.btn-icon {
    justify-content: center;
    height: 36px;
    width: 36px;

    &.round {
        border-radius: 50%;
    }
}

.btn-icon-label {
    &.label-first {
        flex-direction: row-reverse;

        .label {
            margin-right: var(--sp-0);
            margin-left: 0;
        }
    }
}
